.dropdown .btn-primary {
    background-color: #007BFF;
    border: none;
    padding: 10px 20px; /* Adjust the padding for button size */
  }
  
  /* Style the dropdown menu */
  .dropdown-menu {
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 50%; /* Position the dropdown in the center */
    transform: translateX(-50%); /* Center the dropdown horizontally */
    top: 100%; /* Position it below the button */
    width: 200px; /* Adjust the dropdown width */
  }
  
  /* Style the dropdown items */
  .dropdown-item {
    padding: 20px;
    font-size: 16px;
  }
  
  /* Style the dropdown items on hover */
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  /* Hide the choose file button */
  input[type="file"] {
    display: none;
  }